# Virtual environment di folder backend
/backend/venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database files
*.sqlite3

# Editor temp files
*.swp
*.swo

# Logs dan reports
*.log
coverage/
htmlcov/

dist/
build/

# Model artifacts
model_tfidf_knn.pkl

# IDE settings
.vscode/
.idea/

# macOS files
.DS_Store